* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

/* Bug, forgot to add *, the code above was not functionable. */

/* Header */

#header {
    background-color: rgba(0, 0, 0, 0); /* Fully transparent */ /* Why isn't the header becoming transparent? 2024-05-26 */ /* FIXED */
    display: flex;
    z-index: 9999;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 2px 2px 10px black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 1.3s, padding 1.3s, height 1.3s;    
}

#header:hover {
    box-shadow: 2px 2px 25px black;
    transition: 0.5s;
}

#header.scrolled {
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 0px 5px;    
}

.logo {
    width: 100px;
    cursor: pointer;
}

.navlinks {
    display: flex;
    align-items: center;
}

.navlinks li {
    margin: 0 15px;
}

.navlinks li a {
    color: bisque;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}

.navlinks li a:hover {
    color: tomato;
    text-shadow: 1px 1px 5px black;
}

button {
    padding: 12px 24px;
    background-color: firebrick;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease;
    border: none;
}

button:hover {
    box-shadow: 1px 1px 5px black;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    transition: transform 0.3s ease;
    transform: translateX(100%);
}

.sidebar li a {
	color: white;
}

.sidebar li {
    width: 100%;
    margin: 25px 0;
    text-shadow: 1px 1px 2px black;
}

nav ion-icon {
    font-size: 2em;
    cursor: pointer;
}

/* Shrink n' Scroll */

.header-box {
    width: 100%;
    margin: auto;
    padding: 100px;
    text-align: center;
    transition: padding 0.3s;
}

.smaller .header-box {
    padding: 10px;
}

.logo h1 {
    padding: 0;
    margin: 0;
}

.smaller .logo h1 {
    font-size: 24px;
}

main {
    height: 2000px;
    margin-top: 200px;
}

/* Responsive Header */
@media only screen and (min-width: 830px) {
    .navlinks ion-icon {
        display: none;
    }
}

@media only screen and (max-width: 830px) {
    .navlinks .items {
        display: none;
    }
}

/* Video part */ 

.hero{
	height: 100%;
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(245.59deg, #0a3c5e 0%, #073c50 28.53%, #042b3d 75.52%); 
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
}

.hero-text h5{
	margin-top: 100px;
	font-size: 14px;
	font-weight: 400;
	color: ghostwhite;
	margin-bottom: 40px;
}

.hero-text h1{
	font-family: 'Permanent Marker', cursive;
	font-size: 90px;
	line-height: 1;
	color: antiquewhite;
	margin: 0 0 45px;
}

.hero-text p{
	color: white;
	font-size: 15px;
	line-height: 1.9;
	margin-bottom: 40px;
}

.hero-text a{
	display: inline-block;
	color: papayawhip;
	background: #4d9559;
	border: 1px solid transparent;
	padding: 12px 30px;
	line-height: 1.4;
	font-size: 14px;
	font-weight: 500;
	border-radius: 30px;
	text-transform: uppercase;
	transition: all .55s ease;
}

.hero-text a:hover{
	background: transparent;
	border: 1px solid white;
	transform: translateX(8px);
}

.hero-text a.ctaa{
	background: transparent; 
	border: 1px solid white; 
	margin-left: 20px; 
}

.hero-text a.ctaa i{
	vertical-align: middle;
	margin-right: 5px;
}

.icons{
	position: absolute;
	top: 50%;
	padding: 0 9%;
	transform: translateY(-50%);
}

.icons i{
	display: block;
	margin: 26px 0;
	font-size: 24px;
	color: white;
	transition: all .50s ease;
}
 
.icons i:hover{
	color: #4d9559;
	transform: translateY(-5px);
}

#bg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.5;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10%; 
    background-color: #2f294b;
}

.info-section img {
    width: 50%;
    max-width: 100%; 
    order: -1; 
}

.info-text {
    width: 100%; 
    padding: 20px;
    color: ghostwhite;
    text-align: center;
}

section {
    padding: 0 19%;
}

a.index-information-link {
	color: blue; 
    text-decoration: none;
}
        
a.index-information-link:visited {
	color: red; 
    text-decoration: none;
}
        
a.:hover {
text-decoration: underline
}

a.index-information-link:active {
color: red;
}

/* RESPONSIV PAGE1 */ 
@media (max-width: 1535px){
	header{
		padding: 15px 3%;
		transition: .2s;
	}
	.icons{
		padding: 0 3%;
		transition: .2s;
	}	
	
}

@media (max-width: 1340px){
	.hero-text h1{
		font-size: 75px;
		margin: 0 0 30px;

	}
	.hero-text h5{
		margin-bottom: 25px;
	}
}

@media (max-width: 1195px){
	section{ 
		padding: 0 3%; 
		transition: .2s; 
	}
	.hero-text{ 
		padding-top: 115px;
	} 
	.hero{ 
		height: 100%; 
		gap: 1rem; 
		grid-template-columns: 1; 
	} 
	.icons{
		display: none;
	}
	
}

@media (max-width: 990px){
	#menu-icon{
		display: block;
	}
	.navlist{
		position: absolute;
		top: 100%;
		right: 0;
		width: 300px;
		height: 40vh;
		background: #4d9559;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 50px 20px;
		transition: all .55s ease;
	}
	.navlist a{
		margin-left: 0;
		display: block;
		margin: 7px 0;
	}
	.navlist.open{
		right: 0;
	}
}

@media screen and (max-width: 600px) {
    #header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        width: 80px;
    }

    .navlinks {
        flex-direction: column;
        width: 100%;
    }

    .navlinks li {
        margin: 10px 0;
    }

    .hero {
        text-align: center;
        padding: 20px;
    }

    .hero-text h1 {
        font-size: 48px;
    }

    .hero-text h5, .hero-text p, .hero-text a {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    button {
        padding: 10px 20px;
        font-size: 14px;
    }

    .hero-text h1 {
        font-size: 36px;
    }

    .hero-text h5, .hero-text p, .hero-text a {
        font-size: 12px;
    }

    .hero-text a {
        padding: 10px 20px;
    }
}

/* Instead of programming Java and css alone, I decided to mix them toghether, for each website, making a more finished product quicker */

/* About 02 */ 

#BodyAbout {
    background-image: url('Indie-questscreenshot.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {  /* Fixes footer for the about section */ 
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}

h2, p {
    color: white;
    background-color: ;
}

.navlist {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navlist li {
    padding: 0 15px;
}

.navlist a {
    color: #333;
    font-weight: bold;
}

.videos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.video {
    flex: 1 1 45%; 
    margin: 10px;
}

.video iframe {
    width: 100%;
    height: auto; 
}

.pricing-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: ghostwhite;
}

.pricing th, .pricing td {
    border: 1px solid #ddd;
    padding: 8px;
}

.apply-now {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.apply-now button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.apply-now button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .videos-container {
        flex-direction: column;
        align-items: center;
    }

    .video {
        flex: 1 1 100%; 
        max-width: 100%;
    }

    .pricing-table thead {
        display: none;
    }

    .pricing-table tr {
        display: block;
        margin-bottom: 20px;
    }

    .pricing-table td {
        display: block;
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .pricing-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        font-weight: bold;
        text-align: left;
    }
}

@media (max-width: 480px) {
    h2, p {
        font-size: 1.2em;
    }

    .apply-now button {
        padding: 10px 20px;
        font-size: 14px;
    }
}

/* Curriculum 03 */ 

#bodyCurriculum {
    background-image: url('IQ_Background_Notes.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

#Curriculumh1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 120px;
    background-color: rgba(253,187, 45, 0.5);
}

.intro {
    text-align: center;
    margin: 20px 0;
}

.timeline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    background: linear-gradient(90deg, #1a2a6c, #b21f1f, #fdbb2d);
    background-size: 300% 100%;
    padding: 20px;
    border-radius: 10px;
}

.marker {
    position: relative;
    margin: 10px;
}

.marker span {
    background: #fdbb2d;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}

.content {
    padding: 20px;
    margin: 20px;
    background: #2f294b;
    border-radius: 10px;
    max-width: 1000px; 
    margin-left: auto;
    margin-right: auto;
}

#sectionCurriculum {
    margin: 20px 0;
    opacity: 0;
}

#sectionCurriculum h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

#sectionCurriculum p {
    font-size: 1rem;
    line-height: 1.5;
}

#sectionCurriculum ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

#sectionCurriculum ul li {
    background: #fdbb2d;
    padding: 10px;
    margin: 5px 0;
    border-radius: 20px;  
    border: 2px solid orange; 
    color: #333;
    font-weight: bold;
}

@media (max-width: 1024px) {
    h1.Curriculumh1 {
        font-size: 2rem;
        margin: 80px 0 20px;
    }

    #sectionCurriculum h2 {
        font-size: 1.6rem;
    }

    .content {
        padding: 15px;
        margin: 15px;
    }

    .timeline {
        flex-direction: column;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    h1.Curriculumh1 {
        font-size: 1.8rem;
        margin: 60px 0 20px;
    }

    #sectionCurriculum h2 {
        font-size: 1.4rem;
    }

    #sectionCurriculum p {
        font-size: 0.9rem;
    }

    .timeline {
        padding: 10px;
    }

    .marker span {
        padding: 5px 15px;
    }
}

@media (max-width: 480px) {
    h1.Curriculumh1 {
        font-size: 1.5rem;
        margin: 40px 0 20px;
    }

    #sectionCurriculum h2 {
        font-size: 1.2rem;
    }

    #sectionCurriculum p {
        font-size: 0.8rem;
    }

    .marker span {
        padding: 5px 10px;
    }

    .content {
        padding: 10px;
        margin: 10px;
    } 
}

/* Find us 04 */

#bodyFind {
    background: url(IQ_Background_Notes.png);    
}

.map-container {
    margin-top: 85px;
    padding: 20px;
    background-color: #1e1e1e;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map {
    height: 300px;
    width: 100%;
}

.contact-details {
    margin-top: 20px;
}

.contact-details p {
    font-size: 16px;
    line-height: 1.6;
}

.contact-details a {
    color: #4d9559;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}

.active {
    border-bottom: 2px solid #4d9559;
}

@media screen and (max-width: 768px) {
    .map-container {
        margin-top: 55px;
    }
    
    .map {
        height: 200px;
    }
    
    .contact-details p {
        font-size: 14px; 
    }
}

/* Apply 05 */

#BodyApply {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: url(Indie-questscreenshot.png) no-repeat;
  background-size: cover; 
  background-position: center; 
}

.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: transparent;
  padding: 25px;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}

.container .form {
  margin-top: 30px;
}

.form .input-box {
  width: 100%;
  margin-top: 20px;
}

.input-box label {
  color: #333;
}

.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #2c2c2c;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
  display: flex;
  column-gap: 15px;
}

.form .gender-box {
  margin-top: 20px;
}

.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}

.form .gender {
  column-gap: 5px;
}

.gender input {
  accent-color: rgb(130, 106, 251);
}

.form :where(.gender input, .gender label) {
  cursor: pointer;
}

.gender label {
  color: #2c2c2c;
}

.address :where(input, .select-box) {
  margin-top: 15px;
}

.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #2c2c2c;
  font-size: 1rem;
}

.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}

.form button:hover {
  background: rgb(88, 56, 250);
}

.input-box .contact-preference button {
  height: 40px;
  width: auto;
  padding: 0 15px;
  margin-right: 10px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  background: rgb(130, 106, 251);
  transition: all 0.2s ease;
}

.input-box .contact-preference button:hover {
  background: rgb(88, 56, 250);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 15px;
  }
  
  .container header {
    font-size: 1.3rem;
  }
}

/* Footer */

.footer-section {
    background: linear-gradient(-45deg, #2e2b5f, #1e2d35, #6a1b9a, #004d40);
    color: white;
    padding: 20px;
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 2;
}

.footer-logo-text {
    flex-basis: 30%;
    margin-bottom: 20px;
    display: flex;
    align-items: center; 
}

.footer-logo {
    margin-right: 15px;
}

.footer-logo img {
    max-width: 150px;
    transition: transform 0.3s;
}

.footer-logo:hover img {
    transform: scale(1.1);
}

.footer-logo-text p {
    font-size: 14px;
    color: bisque;
    line-height: 21px;
}

.logo-icons {
    flex-basis: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.logo-icons .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo-icons .contact-item i {
    font-size: 40px;
    margin-right: 10px; 
    transition: color 0.3s, transform 0.3s;
}

.logo-icons .contact-text {
    display: flex;
    flex-direction: column;
}

.logo-icons .contact-item h3 {
    color: white;
    margin: 0;
    font-size: 18px;
}

.logo-icons .contact-item p {
    color: bisque;
    margin: 5px 0 0 0;
    font-size: 14px;
}

.logo-icons .contact-item i.fa-location-dot {
    color: orange;
}

.logo-icons .contact-item i.fa-phone {
    color: lightgreen;
}

.logo-icons .contact-item i.fa-envelope-open {
    color: yellow;
}

.divider {
    flex-basis: 100%;
    margin: 20px 0;
    border-bottom: 2px solid firebrick;
    text-align: center;
}

.divider span {
    display: block;
    color: white;
    margin: -12px auto 10px;
    background: #151414;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 700;
}

.footer-links,
.follow-us,
.subscribe-section {
    flex-basis: 30%;
    margin-bottom: 20px;
}

.footer-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    columns: 2;
    column-gap: 20px;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: bisque;
    transition: color 0.3s, transform 0.3s;
}

.footer-links ul li a:hover {
    color: firebrick;
    transform: scale(1.1);
}

.follow-us .footer-heading {
    margin-bottom: 10px;
}

.follow-us ul.social-icons {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.follow-us ul.social-icons li {
    margin-bottom: 10px;
}

.follow-us ul.social-icons li a {
    color: rebeccapurple;
    font-size: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s, background 0.3s;
}

.follow-us ul.social-icons li a:hover {
    color: #fff;
    background-color: firebrick;
    transform: scale(1.1);
}

.subscribe-section p {
    color: bisque;
    margin-bottom: 10px;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2e2e2e;
    border: 1px solid #2e2e2e;
    color: #fff;
    transition: background 0.3s;
}

.subscribe-form input:hover {
    background: #3e3e3e;
}

.subscribe-form button { 
    position: absolute;
    right: 0;
    background: transparent;
    padding: 13px 20px;
    border: 1px solid #fff;
    top: 0;
    transition: transform 0.3s, background 0.3s;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: white;
    font-size: 18px;
    cursor: pointer;
    background-clip: padding-box;
}

.subscribe-form button:hover {
    transform: scale(1.1);
    background: #000;
}

.copyright-area {
    background: linear-gradient(-45deg, #2e2b5f, #1e2d35, #6a1b9a, #004d40);
    padding: 15px 0; 
    text-align: center;
    background-size: 400% 400%;
    color: white;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li a {
    font-size: 14px;
    color: bisque;
}

.footer-menu li a:hover {
    color: firebrick;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    
    .footer-logo-text, .footer-links, .follow-us, .subscribe-section {
        flex-basis: 100%;
        text-align: center;
    }
    
    .footer-logo-text {
        flex-direction: column;
        align-items: center;
    }
    
    .footer-logo {
        margin-right: 0;
        margin-bottom: 10px;
    }
    
    .footer-links ul {
        columns: 1;
    }
    
    .logo-icons {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .follow-us ul.social-icons {
        justify-content: center;
    }
}
